.app {
	max-width: 1200px;
	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0 auto;
	align-items: center;
	font-family: Domine;
}

img {
	max-width: 100%;
}

a {
	color: white;
}
